.container{
    padding: 19px 20px 20px;
    background-color: white;
}

body{
    background-color: #E6F2F7;
}

#card_data {
    border: 1px;
    border-color: #808080;
    border-style: dashed;
    padding: 20px;
    margin-top: 10px;
}